@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

@media (max-width: 1440px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 990px) {
    .container {
        width: 100%;
    }
}